* {
    box-sizing: border-box;
    margin: 35px;
    padding: 0;
    background-color: blanchedalmond;
    border-radius: 10px;
}
html {
    font-size: 62.5%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    
    
}
main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
    
}
h2 {
    text-align: center;
    position: relative;
    bottom: 800px;
    left: -21px;
    font-size: 25px;
    font-family: monospace;
    color: brown;
}
h1 {
    text-align: center;
    color:brown ;
    font-family: monospace;
    font-size: 25px;
    padding: 0%;
    margin: 0%;
    display: inline-block;
    position: relative;
    left: 370px;
    bottom: -63px;
    text-decoration: none;
    }
    .box#one {
        position: relative;
        width: 150px;
        left: 700px;
        bottom: 650px;
        background-color: brown;
        border-radius: 10px;
    }
    .box#two {
        width: 150px;
        position: relative;
        bottom: 700px;
        left: 700px;
        background-color: brown;
        border-radius: 10px;
        
    }
    .box#three {
        width: 150px;
        position: relative;
        bottom: 750px;
        left: 700px;
        background-color: brown;
        border-radius: 10px;
    }
    .box#four {
        width: 150px;
        position: relative;
        bottom: 804px;
        left: 700px;
        height: 138px;
        background-color: brown;
        border-radius: 10px;
    }
    span {
        font-size: 12px;
        color: brown;
    }